#root {
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    font-size: 5em;
    text-shadow: 3px 3px 3px black;
    color: #7b9217;
    text-align: center;
    padding: 0px;
    margin: 0.2em;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: white;
  }
  
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 5em;
    text-align: center;
    padding: 10px;
  }

  button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid green;
    border-radius: 30px;
  }


  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

body {
    background-image: url(https://i.imgur.com/qDwk5pl.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #F6E6C0;
}